@import 'global-styles.css';

@import 'okta-theme.css';

:root {
--demo-button-color-surface-primary-resting: #FAFAFA;
--demo-button-color-content-primary-resting: {color.content.on-drak.primary};
--demo-button-space-medium-gap: 8px;
--demo-button-space-medium-padding-leftandright: 32px;
--demo-button-space-medium-padding-topandbottom: 12px;
--demo-button-size-medium-min-height: 48px;
--demo-button-border-radius-medium: 6px;

}
