@import 'global-styles.css';

@import 'okta-theme.css';

:root {
--devx-color-surface-primary: var(--global-colors-gray-900);
--devx-color-surface-secondary: var(--global-colors-gray-750);
--devx-color-surface-tertiary: var(--global-colors-gray-650);
--devx-color-surface-brand-primary: var(--global-colors-blue-450);
--devx-color-surface-brand-secondary: var(--global-colors-teal-450);
--devx-color-surface-brand-tertiary: var(--global-colors-neutral-50);
--devx-color-surface-resting-on-primary: var(--global-linear-gradient(193deg, #111111 0%, #191919 58-96%, #4016a0 76-8%, #3f59e4 100%));
--devx-color-surface-resting-on-secondary: var(--global-colors-neutral-850);
--devx-color-surface-resting-on-tertiary: var(--global-colors-neutral-50);
--devx-color-surface-resting-on-quaternary: var(--global-colors-neutral-50);
--devx-color-surface-hover-on-primary: var(--global-colors-blue-450);
--devx-color-surface-hover-on-secondary: var(--global-colors-gray-900);
--devx-color-surface-hover-on-tertiary: var(--global-colors-blue-450);
--devx-color-surface-hover-on-quaternary: var(--global-colors-neutral-200);
--devx-color-surface-active-on-primary: var(--global-colors-blue-600);
--devx-color-surface-active-on-secondary: var(--global-colors-gray-900);
--devx-color-surface-active-on-tertiary: var(--global-colors-blue-600);
--devx-color-surface-active-on-quaternary: var(--global-colors-neutral-200);
--devx-color-surface-focus-on-primary: var(--global-colors-blue-450);
--devx-color-surface-focus-on-secondary: var(--global-colors-neutral-850);
--devx-color-surface-focus-on-tertiary: var(--global-colors-blue-450);
--devx-color-surface-focus-on-quaternary: var(--global-colors-neutral-50);
--devx-color-surface-disabled-on-primary: var(--global-colors-gray-200);
--devx-color-surface-disabled-on-secondary: var(--global-colors-gray-200);
--devx-color-surface-disabled-on-tertiary: var(--global-colors-gray-600);
--devx-color-surface-disabled-on-quaternary: var(--global-colors-gray-600);
--devx-color-content-primary: var(--global-colors-neutral-50);
--devx-color-content-secondary: var(--global-colors-neutral-200);
--devx-color-content-resting: var(--global-colors-neutral-850);
--devx-color-content-hover: var(--global-colors-blue-450);
--devx-color-content-active: var(--global-colors-blue-600);
--devx-color-content-focus: var(--global-colors-neutral-850);
--devx-color-content-disabled: var(--global-colors-gray-300);
--devx-color-content-on-drak-primary: var(--global-colors-neutral-50);
--devx-color-content-on-drak-secondary: var(--global-colors-neutral-200);
--devx-color-content-on-drak-disabled: var(--global-colors-gray-150);
--devx-color-content-on-light-primary: var(--global-colors-neutral-850);
--devx-color-content-on-light-secondary: var(--global-colors-neutral-700);
--devx-color-content-on-light-disbaled: var(--global-colors-gray-600);
--devx-color-border-primary: var(--global-colors-gray-250);
--devx-color-border-secondary: var(--global-colors-blue-150);
--devx-color-border-tertiary: var(--global-colors-neutral-500);
--devx-color-border-quaternary: var(--global-colors-neutral-850);
--devx-color-border-focus-ring: var(--global-colors-blue-450);
--devx-color-border-resting-on-primary: var(--global-colors-neutral-850);
--devx-color-border-resting-on-secondary: var(--global-colors-neutral-850);
--devx-color-border-resting-on-tertiary: var(--global-colors-neutral-50);
--devx-color-border-resting-on-quaternary: var(--global-colors-neutral-50);
--devx-color-border-hover-on-primary: var(--global-colors-blue-450);
--devx-color-border-hover-on-secondary: var(--global-colors-gray-900);
--devx-color-border-hover-on-tertiary: var(--global-colors-blue-150);
--devx-color-border-hover-on-quaternary: var(--global-colors-neutral-200);
--devx-color-border-active-on-primary: var(--global-colors-blue-600);
--devx-color-border-active-on-secondary: var(--global-colors-gray-900);
--devx-color-border-active-on-tertiary: var(--global-colors-blue-150);
--devx-color-border-active-on-quaternary: var(--global-colors-neutral-200);
--devx-color-border-focus-on-primary: var(--global-colors-blue-450);
--devx-color-border-focus-on-secondary: var(--global-colors-neutral-850);
--devx-color-border-focus-on-tertiary: var(--global-colors-blue-150);
--devx-color-border-focus-on-quaternary: var(--global-colors-neutral-50);
--devx-color-border-disbaled-on-primary: var(--global-colors-gray-200);
--devx-color-border-disbaled-on-secondary: var(--global-colors-gray-200);
--devx-color-border-disbaled-on-tertiary: var(--global-colors-gray-600);
--devx-color-border-disbaled-on-quaternary: var(--global-colors-gray-600);

}
