@import 'global-styles.css';

@import 'okta-theme.css';

:root {
--devx-color-surface-primary: var(--global-colors-gray-900);
--devx-color-surface-secondary: var(--global-colors-gray-750);
--devx-color-surface-tertiary: var(--global-colors-gray-650);
--devx-color-surface-brand-primary: var(--global-colors-gray-750);
--devx-color-surface-brand-secondary: var(--global-colors-gray-900);
--devx-color-surface-brand-tertiary: var(--global-colors-gray-650);
--devx-color-content-primary: var(--global-colors-neutral-50);
--devx-color-content-secondary: var(--global-colors-gray-100);
--devx-color-content-tertiary: var(--global-colors-neutral-50);
--devx-color-content-quaternary: var(--global-colors-gray-50);
--devx-color-border-primary: var(--global-colors-gray-250);
--devx-color-border-secondary: var(--global-colors-blue-150);
--devx-color-border-tertiary: var(--global-colors-neutral-500);
--devx-color-border-quaternary: var(--global-colors-neutral-850);
--devx-color-border-focus-ring: var(--global-colors-blue-450);
--devx-color-action-primary-resting: var(--global-colors-blue-250);
--devx-color-action-primary-hover: var(--global-colors-blue-150);
--devx-color-action-primary-active: var(--global-colors-blue-450);
--devx-color-action-primary-focus: var(--global-colors-blue-150);
--devx-color-action-primary-disabled: var(--global-colors-gray-500);
--devx-color-action-primary-focus-ring: var(--global-colors-blue-150);
--devx-color-action-secondary-resting: var(--global-colors-blue-250);
--devx-color-action-secondary-hover: var(--global-colors-blue-150);
--devx-color-action-secondary-active: var(--global-colors-blue-450);
--devx-color-action-secondary-focus: var(--global-colors-blue-150);
--devx-color-action-secondary-disabled: var(--global-colors-gray-500);
--devx-color-action-secondary-focus-ring: var(--global-colors-blue-150);
--devx-color-action-tertiary-resting: var(--global-colors-blue-250);
--devx-color-action-tertiary-hover: var(--global-colors-blue-150);
--devx-color-action-tertiary-active: var(--global-colors-blue-450);
--devx-color-action-tertiary-focus: var(--global-colors-blue-150);
--devx-color-action-tertiary-disabled: var(--global-colors-gray-500);
--devx-color-action-tertiary-focus-ring: var(--global-colors-blue-150);
--devx-color-action-quaternary-resting: var(--global-colors-blue-250);
--devx-color-action-quaternary-hover: var(--global-colors-blue-150);
--devx-color-action-quaternary-active: var(--global-colors-blue-450);
--devx-color-action-quaternary-focus: var(--global-colors-blue-150);
--devx-color-action-quaternary-disabled: var(--global-colors-gray-500);
--devx-color-action-quaternary-focus-ring: var(--global-colors-blue-150);

}
