
:root {
--global-colors-blue-25: #FAFBFF;
--global-colors-blue-50: #E3EBFF;
--global-colors-blue-100: #CDDAFF;
--global-colors-blue-200: #B6C9FF;
--global-colors-blue-300: #7994F6;
--global-colors-blue-400: #3F59E4;
--global-colors-blue-500: #203DD5;
--global-colors-blue-600: #1A31A9;
--global-colors-blue-700: #152888;
--global-colors-blue-800: #111E66;
--global-colors-blue-900: #0C1545;
--global-colors-blue-1000: #070C24;
--global-colors-teal-25: #FAFFFF;
--global-colors-teal-50: #E2F6F4;
--global-colors-teal-100: #C9EDE9;
--global-colors-teal-200: #B1E4DE;
--global-colors-teal-300: #7DCFC2;
--global-colors-teal-400: #4CB7A3;
--global-colors-teal-500: #229682;
--global-colors-teal-600: #096256;
--global-colors-teal-700: #084F45;
--global-colors-teal-800: #063C35;
--global-colors-teal-900: #052924;
--global-colors-teal-1000: #041613;
--global-colors-neutral-25: #FFFEFA;
--global-colors-neutral-50: #FDFAF2;
--global-colors-neutral-100: #F6F1E7;
--global-colors-neutral-200: #F1E9DA;
--global-colors-neutral-300: #E8DCC7;
--global-colors-neutral-400: #CBC3B4;
--global-colors-neutral-500: #AFABA1;
--global-colors-neutral-600: #8D8880;
--global-colors-neutral-700: #6B665F;
--global-colors-neutral-800: #504C48;
--global-colors-neutral-900: #343330;
--global-colors-neutral-1000: #191919;
--global-colors-gray-25: #FBFBFB;
--global-colors-gray-50: #E5E5E5;
--global-colors-gray-100: #C5C5C5;
--global-colors-gray-200: #ABABAB;
--global-colors-gray-300: #808080;
--global-colors-gray-400: #555555;
--global-colors-gray-500: #383838;
--global-colors-gray-600: #2A2A2A;
--global-colors-gray-700: #242424;
--global-colors-gray-800: #1E1E1E;
--global-colors-gray-900: #171717;
--global-colors-gray-1000: #111111;
--global-colors-black: #000000;
--global-colors-white: #ffffff;
--global-colors-red-25: #FFF6F5;
--global-colors-red-50: #FFF0EE;
--global-colors-red-100: #FFD8D1;
--global-colors-red-200: #FEBBAE;
--global-colors-red-300: #FE8F7A;
--global-colors-red-400: #FD4E2D;
--global-colors-red-500: #E72500;
--global-colors-red-600: #D92300;
--global-colors-red-700: #951800;
--global-colors-red-800: #711200;
--global-colors-red-900: #500D00;
--global-colors-red-1000: #330800;
--global-colors-yellow-25: #FFFEF5;
--global-colors-yellow-50: #FEFCE8;
--global-colors-yellow-100: #FEF9C3;
--global-colors-yellow-200: #FEF08A;
--global-colors-yellow-300: #FDE047;
--global-colors-yellow-400: #FACC15;
--global-colors-yellow-500: #EAB308;
--global-colors-yellow-600: #CA8A04;
--global-colors-yellow-700: #A16207;
--global-colors-yellow-800: #854D0E;
--global-colors-yellow-900: #713F12;
--global-colors-yellow-1000: #42250B;
--global-colors-purple-25: #F7F5FF;
--global-colors-purple-50: #E7DEFE;
--global-colors-purple-100: #D6C8FD;
--global-colors-purple-200: #C5B1FD;
--global-colors-purple-300: #B49BFC;
--global-colors-purple-400: #9472F7;
--global-colors-purple-500: #7549F2;
--global-colors-purple-600: #6338D7;
--global-colors-purple-700: #5227BB;
--global-colors-purple-800: #4016A0;
--global-colors-purple-900: #2C0F6E;
--global-colors-purple-1000: #18083C;
--global-colors-orange-25: #FFF9F5;
--global-colors-orange-50: #FBDFCF;
--global-colors-orange-100: #F6C6AA;
--global-colors-orange-200: #F2AC84;
--global-colors-orange-300: #ED9869;
--global-colors-orange-400: #E7854E;
--global-colors-orange-500: #E27133;
--global-colors-orange-600: #C76127;
--global-colors-orange-700: #AC511A;
--global-colors-orange-800: #91410E;
--global-colors-orange-900: #763101;
--global-colors-orange-1000: #401B01;
--global-colors-amber-25: #FFFCF5;
--global-colors-amber-50: #F9E8C4;
--global-colors-amber-100: #F4D594;
--global-colors-amber-200: #F3C770;
--global-colors-amber-300: #F1B84D;
--global-colors-amber-400: #F0A929;
--global-colors-amber-500: #EF9B05;
--global-colors-amber-600: #D08804;
--global-colors-amber-700: #B17503;
--global-colors-amber-800: #936101;
--global-colors-amber-900: #744E00;
--global-colors-amber-1000: #3F2A00;
--global-colors-green-25: #F8FCF8;
--global-colors-green-50: #D5EAD3;
--global-colors-green-100: #B2D9AF;
--global-colors-green-200: #8FC88A;
--global-colors-green-300: #66B877;
--global-colors-green-400: #3DA763;
--global-colors-green-500: #149750;
--global-colors-green-600: #128347;
--global-colors-green-700: #11703D;
--global-colors-green-800: #0F5C34;
--global-colors-green-900: #0A4024;
--global-colors-green-1000: #062515;
--global-opacities-0: 0.0;
--global-opacities-5: 0.050;
--global-opacities-10: 0.100;
--global-opacities-15: 0.150;
--global-opacities-20: 0.200;
--global-opacities-30: 0.300;
--global-opacities-33: 0.333;
--global-opacities-40: 0.400;
--global-opacities-50: 0.500;
--global-opacities-60: 0.600;
--global-opacities-66: 0.666;
--global-opacities-70: 0.700;
--global-opacities-80: 0.800;
--global-opacities-85: 0.850;
--global-opacities-90: 0.900;
--global-opacities-95: 0.950;
--global-opacities-100: 1.0;
--global-font-size-10: 10px;
--global-font-size-12: 12px;
--global-font-size-14: 14px;
--global-font-size-16: 16px;
--global-font-size-20: 20px;
--global-font-size-24: 24px;
--global-font-size-32: 32px;
--global-font-size-40: 40px;
--global-font-size-48: 48px;
--global-font-size-56: 56px;
--global-font-size-64: 64px;
--global-font-size-72: 72px;
--global-font-size-80: 80px;
--global-font-size-96: 96px;
--global-font-size-112: 112px;
--global-font-size-128: 128px;
--global-font-family-primary: Aeonik;
--global-font-family-mono: Aeonik Mono;
--global-line-height-100: 100%;
--global-line-height-110: 110%;
--global-line-height-111: 111%;
--global-line-height-112: 112%;
--global-line-height-114: 114%;
--global-line-height-116: 116%;
--global-line-height-120: 120%;
--global-line-height-128: 128%;
--global-line-height-135: 135%;
--global-line-height-136: 136%;
--global-line-height-140: 140%;
--global-line-height-150: 150%;
--global-line-height-160: 160%;
--global-font-weight-400: 400;
--global-font-weight-500: 500;
--global-font-weight-600: 600;
--global-letter-spacing-0: 0%;
--global-letter-spacing-1: 1%;
--global-letter-spacing-10: 10%;
--global-letter-spacing-12: 12%;
--global-letter-spacing-neg1: -1%;
--global-letter-spacing-neg2: -2%;
--global-letter-spacing-neg3: -3%;
--global-letter-spacing-pt5: 0.5%;
--global-letter-spacing-1pt25: 1.25%;
--global-letter-spacing-1pt5: 1.5%;

}
