/* Typography Mixins */
@import 'global-styles.css';

@media screen and (min-width: 1312px) {
@mixin display-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-128);
  line-height: var(--global-line-height-100);
  letter-spacing: var(--global-letter-spacing-neg3);
}

@mixin display-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-112);
  line-height: var(--global-line-height-100);
  letter-spacing: var(--global-letter-spacing-neg3);
}

@mixin display-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-96);
  line-height: var(--global-line-height-100);
  letter-spacing: var(--global-letter-spacing-neg3);
}

@mixin display-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-80);
  line-height: var(--global-line-height-110);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-72);
  line-height: var(--global-line-height-111);
  letter-spacing: var(--global-letter-spacing-neg2);
}


}
@media screen and (min-width: 1312px) {
@mixin title {
@mixin title-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-64);
  line-height: var(--global-line-height-112);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-56);
  line-height: var(--global-line-height-114);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-48);
  line-height: var(--global-line-height-116);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-40);
  line-height: var(--global-line-height-120);
  letter-spacing: var(--global-letter-spacing-neg2);
}

}


}
@media screen and (min-width: 1312px) {
@mixin body {
@mixin body-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-32);
  line-height: var(--global-line-height-136);
  letter-spacing: var(--global-letter-spacing-neg1);
}

@mixin body-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin body-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin body-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt25);
}

@mixin body-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-14);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt5);
}

}


}
@media screen and (min-width: 1312px) {
@mixin medium {
@mixin medium-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-32);
  line-height: var(--global-line-height-136);
  letter-spacing: var(--global-letter-spacing-neg1);
}

@mixin medium-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin medium-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin medium-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt25);
}

@mixin medium-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-14);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt5);
}

}


}
@media screen and (max-width: 1311px) {
@mixin display-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-80);
  line-height: var(--global-line-height-110);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-80);
  line-height: var(--global-line-height-110);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-72);
  line-height: var(--global-line-height-111);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-72);
  line-height: var(--global-line-height-112);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-64);
  line-height: var(--global-line-height-112);
  letter-spacing: var(--global-letter-spacing-neg2);
}


}
@media screen and (max-width: 1311px) {
@mixin title {
@mixin title-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-56);
  line-height: var(--global-line-height-114);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-48);
  line-height: var(--global-line-height-116);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-40);
  line-height: var(--global-line-height-120);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-40);
  line-height: var(--global-line-height-120);
  letter-spacing: var(--global-letter-spacing-neg2);
}

}


}
@media screen and (max-width: 1311px) {
@mixin body {
@mixin body-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin body-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin body-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin body-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt25);
}

@mixin body-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-14);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt5);
}

}


}
@media screen and (max-width: 1311px) {
@mixin medium {
@mixin medium-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin medium-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin medium-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin medium-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt25);
}

@mixin medium-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-14);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt5);
}

}


}
@media screen and (max-width: 834px) {
@mixin display-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-56);
  line-height: var(--global-line-height-114);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-56);
  line-height: var(--global-line-height-114);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-56);
  line-height: var(--global-line-height-114);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-48);
  line-height: var(--global-line-height-116);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin display-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-48);
  line-height: var(--global-line-height-116);
  letter-spacing: var(--global-letter-spacing-neg2);
}


}
@media screen and (max-width: 834px) {
@mixin title {
@mixin title-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-48);
  line-height: var(--global-line-height-116);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-40);
  line-height: var(--global-line-height-120);
  letter-spacing: var(--global-letter-spacing-neg2);
}

@mixin title-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-32);
  line-height: var(--global-line-height-136);
  letter-spacing: var(--global-letter-spacing-neg1);
}

@mixin title-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-32);
  line-height: var(--global-line-height-136);
  letter-spacing: var(--global-letter-spacing-neg1);
}

}


}
@media screen and (max-width: 834px) {
@mixin body {
@mixin body-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin body-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin body-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin body-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt25);
}

@mixin body-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-400);
  font-size: var(--global-font-size-14);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt5);
}

}


}
@media screen and (max-width: 834px) {
@mixin medium {
@mixin medium-1 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-24);
  line-height: var(--global-line-height-135);
  letter-spacing: var(--global-letter-spacing-0);
}

@mixin medium-2 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin medium-3 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-pt5);
}

@mixin medium-4 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt25);
}

@mixin medium-5 {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-14);
  line-height: var(--global-line-height-140);
  letter-spacing: var(--global-letter-spacing-1pt5);
}

}


}
@mixin functional {
@mixin overline {
@mixin default {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-100);
  letter-spacing: var(--global-letter-spacing-12);
  text-case: var(--global-textcase-uppercase);
}

@mixin devex {
  font-family: var(--global-font-family-mono);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-14);
  line-height: var(--global-line-height-100);
  letter-spacing: var(--global-letter-spacing-10);
  text-case: var(--global-textcase-uppercase);
}

}

@mixin label {
@mixin large {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-20);
  line-height: var(--global-line-height-100);
  letter-spacing: var(--global-letter-spacing-1);
}

@mixin regular {
  font-family: var(--global-font-family-primary);
  font-weight: var(--global-font-weight-500);
  font-size: var(--global-font-size-16);
  line-height: var(--global-line-height-100);
  letter-spacing: var(--global-letter-spacing-2);
}

}

}

