@import 'global-styles.css';

@import 'okta-theme.css';

:root {
--oktane-color-surface-primary: var(--global-colors-gray-900);
--oktane-color-surface-secondary: var(--global-colors-gray-750);
--oktane-color-surface-tertiary: var(--global-colors-gray-650);
--oktane-color-surface-brand-primary: var(--global-#7549f2);
--oktane-color-surface-brand-secondary: var(--global-#ef9b05);
--oktane-color-surface-brand-tertiary: var(--global-colors-blue-450);
--oktane-color-content-primary: var(--global-colors-neutral-50);
--oktane-color-content-secondary: var(--global-colors-neutral-200);
--oktane-color-content-primary-inv: var(--global-colors-neutral-850);
--oktane-color-content-secondary-inv: var(--global-colors-neutral-700);
--oktane-color-content-brand-primary: var(--global-colors-neutral-50);
--oktane-color-content-brand-secondary: var(--global-colors-neutral-850);
--oktane-color-content-brand-tertiary: var(--global-colors-neutral-50);

}
