@import 'global-styles.css';

@import 'okta-styles.css';

:root {
--oktane-color-surface-primary: var(--global-colors-gray-900);
--oktane-color-surface-secondary: var(--global-colors-gray-750);
--oktane-color-surface-tertiary: var(--global-colors-gray-650);
--oktane-color-surface-brand-primary: var(--global-#7549f2);
--oktane-color-surface-brand-secondary: var(--global-#ef9b05);
--oktane-color-surface-brand-tertiary: var(--global-colors-blue-450);
--oktane-color-content-primary: var(--global-colors-neutral-50);
--oktane-color-content-secondary: var(--global-colors-neutral-200);
--oktane-color-content-primary-inv: var(--global-colors-neutral-850);
--oktane-color-content-secondary-inv: var(--global-colors-neutral-700);
--oktane-color-content-brand-primary: var(--global-colors-neutral-50);
--oktane-color-content-brand-secondary: var(--global-colors-neutral-850);
--oktane-color-content-brand-tertiary: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-primary-default-surface: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-primary-default-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-default-primary-hover-surface: var(--global-colors-blue-450);
--oktane-color-interaction-on-default-primary-hover-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-primary-active-surface: var(--global-colors-blue-600);
--oktane-color-interaction-on-default-primary-active-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-primary-focus-surface: var(--global-colors-blue-450);
--oktane-color-interaction-on-default-primary-focus-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-primary-focus-border: var(--global-colors-blue-200);
--oktane-color-interaction-on-default-primary-disabled-surface: var(--global-colors-gray-600);
--oktane-color-interaction-on-default-primary-disabled-content: var(--global-colors-gray-400);
--oktane-color-interaction-on-default-secondary-default-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-secondary-default-border: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-secondary-hover-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-default-secondary-hover-border: var(--global-colors-blue-150);
--oktane-color-interaction-on-default-secondary-active-content: var(--global-colors-blue-450);
--oktane-color-interaction-on-default-secondary-active-border: var(--global-colors-blue-450);
--oktane-color-interaction-on-default-secondary-focus-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-default-secondary-focus-border: var(--global-colors-blue-150);
--oktane-color-interaction-on-default-secondary-focus-outer: var(--global-colors-blue-200);
--oktane-color-interaction-on-default-secondary-disabled-content: var(--global-colors-gray-600);
--oktane-color-interaction-on-default-secondary-disabled-border: var(--global-colors-gray-600);
--oktane-color-interaction-on-default-text-default-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-text-hover-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-default-text-active-content: var(--global-colors-blue-450);
--oktane-color-interaction-on-default-text-focus-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-default-text-focus-border: var(--global-colors-blue-450);
--oktane-color-interaction-on-default-text-disabled-content: var(--global-colors-gray-600);
--oktane-color-interaction-on-dark-primary-default-surface: var(--global-colors-neutral-50);
--oktane-color-interaction-on-dark-primary-default-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-dark-primary-hover-surface: var(--global-colors-blue-450);
--oktane-color-interaction-on-dark-primary-hover-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-dark-primary-active-surface: var(--global-colors-blue-600);
--oktane-color-interaction-on-dark-primary-active-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-dark-primary-focus-surface: var(--global-colors-blue-450);
--oktane-color-interaction-on-dark-primary-focus-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-dark-primary-focus-border: var(--global-colors-blue-200);
--oktane-color-interaction-on-dark-primary-disabled-surface: var(--global-colors-gray-600);
--oktane-color-interaction-on-dark-primary-disabled-content: var(--global-colors-gray-650);
--oktane-color-interaction-on-dark-secondary-default-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-dark-secondary-default-border: var(--global-colors-neutral-50);
--oktane-color-interaction-on-dark-secondary-hover-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-secondary-hover-border: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-secondary-active-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-secondary-active-border: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-secondary-focus-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-secondary-focus-border: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-secondary-focus-outer: var(--global-colors-blue-200);
--oktane-color-interaction-on-dark-secondary-disabled-content: var(--global-colors-gray-600);
--oktane-color-interaction-on-dark-secondary-disabled-border: var(--global-colors-gray-600);
--oktane-color-interaction-on-dark-text-default-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-text-hover-content: var(--global-colors-blue-300);
--oktane-color-interaction-on-dark-text-active-content: var(--global-colors-blue-450);
--oktane-color-interaction-on-dark-text-focus-content: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-text-focus-border: var(--global-colors-blue-150);
--oktane-color-interaction-on-dark-text-disabled-content: var(--global-colors-gray-600);
--oktane-color-interaction-on-light-primary-default-surface: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-primary-default-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-light-primary-hover-surface: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-primary-hover-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-light-primary-active-surface: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-primary-active-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-light-primary-focus-surface: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-primary-focus-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-light-primary-focus-border: var(--global-colors-neutral-25);
--oktane-color-interaction-on-light-primary-disabled-surface: var(--global-colors-gray-300);
--oktane-color-interaction-on-light-primary-disabled-content: var(--global-colors-gray-100);
--oktane-color-interaction-on-light-secondary-default-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-secondary-default-border: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-secondary-hover-content: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-secondary-hover-border: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-secondary-active-content: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-secondary-active-border: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-secondary-focus-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-secondary-focus-border: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-secondary-focus-outer: var(--global-colors-neutral-25);
--oktane-color-interaction-on-light-secondary-disabled-content: var(--global-colors-gray-300);
--oktane-color-interaction-on-light-secondary-disabled-border: var(--global-colors-gray-300);
--oktane-color-interaction-on-light-text-default-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-text-hover-content: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-text-active-content: var(--global-colors-gray-900);
--oktane-color-interaction-on-light-text-focus-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-light-text-focus-border: var(--global-colors-neutral-25);
--oktane-color-interaction-on-light-text-disabled-content: var(--global-colors-gray-300);
--oktane-color-interaction-on-other-primary-default-surface: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-primary-default-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-other-primary-hover-surface: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-primary-hover-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-other-primary-active-surface: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-primary-active-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-other-primary-focus-surface: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-primary-focus-content: var(--global-colors-neutral-850);
--oktane-color-interaction-on-other-primary-focus-border: var(--global-colors-neutral-25);
--oktane-color-interaction-on-other-primary-disabled-surface: var(--global-colors-gray-600);
--oktane-color-interaction-on-other-primary-disabled-content: var(--global-colors-gray-650);
--oktane-color-interaction-on-other-secondary-default-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-secondary-default-border: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-secondary-hover-content: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-secondary-hover-border: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-secondary-active-content: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-secondary-active-border: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-secondary-focus-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-secondary-focus-border: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-secondary-focus-outer: var(--global-colors-neutral-25);
--oktane-color-interaction-on-other-secondary-disabled-content: var(--global-colors-gray-600);
--oktane-color-interaction-on-other-secondary-disabled-border: var(--global-colors-gray-600);
--oktane-color-interaction-on-other-text-default-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-text-hover-content: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-text-active-content: var(--global-colors-neutral-200);
--oktane-color-interaction-on-other-text-focus-content: var(--global-colors-neutral-50);
--oktane-color-interaction-on-other-text-focus-border: var(--global-colors-neutral-25);
--oktane-color-interaction-on-other-text-disabled-content: var(--global-colors-gray-600);

}
