@import 'global-styles.css';


:root {
--okta-color-surface-primary: var(--global-colors-neutral-50);
--okta-color-surface-secondary: var(--global-colors-neutral-200);
--okta-color-surface-tertiary: var(--global-colors-neutral-300);
--okta-color-surface-brand-primary: var(--global-colors-blue-450);
--okta-color-surface-brand-secondary: var(--global-colors-teal-450);
--okta-color-surface-brand-tertiary: var(--global-colors-neutral-850);
--okta-color-content-primary: var(--global-colors-neutral-850);
--okta-color-content-secondary: var(--global-colors-neutral-700);
--okta-color-content-primary-inverse: var(--global-colors-neutral-50);
--okta-color-content-secondary-inverse: var(--global-colors-gray-50);
--okta-color-border-primary: var(--global-colors-gray-250);
--okta-color-border-secondary: var(--global-colors-blue-150);
--okta-color-border-tertiary: var(--global-colors-neutral-500);
--okta-color-border-quaternary: var(--global-colors-neutral-850);
--okta-color-action-primary-resting: var(--global-colors-neutral-850);
--okta-color-action-primary-hover: var(--global-colors-blue-450);
--okta-color-action-primary-active: var(--global-colors-blue-600);
--okta-color-action-primary-focus: var(--global-colors-blue-450);
--okta-color-action-primary-disabled: var(--global-colors-neutral-850);
--okta-color-action-primary-focus-ring: var(--global-colors-blue-450);
--okta-color-action-secondary-resting: var(--global-colors-neutral-50);
--okta-color-action-secondary-hover: var(--global-colors-gray-0);
--okta-color-action-secondary-active: var(--global-colors-neutral-50);
--okta-color-action-secondary-focus: var(--global-colors-gray-0);
--okta-color-action-secondary-disabled: var(--global-colors-neutral-50);
--okta-color-action-secondary-focus-ring: var(--global-colors-neutral-50);
--okta-color-action-tertiary-resting: var(--global-colors-neutral-850);
--okta-color-action-tertiary-hover: var(--global-colors-gray-650);
--okta-color-action-tertiary-active: var(--global-colors-gray-900);
--okta-color-action-tertiary-focus: var(--global-colors-gray-650);
--okta-color-action-tertiary-disabled: var(--global-colors-neutral-850);
--okta-color-action-tertiary-focus-ring: var(--global-colors-neutral-850);
--okta-color-action-quaternary-resting: var(--global-colors-blue-250);
--okta-color-action-quaternary-hover: var(--global-colors-blue-150);
--okta-color-action-quaternary-active: var(--global-colors-blue-450);
--okta-color-action-quaternary-focus: var(--global-colors-blue-150);
--okta-color-action-quaternary-disabled: var(--global-colors-neutral-50);
--okta-color-action-quaternary-focus-ring: var(--global-colors-blue-150);

}
